<h2><%= t('added_message') %></h2>

<h3><%= t('added_message_below') %></h3>

<a href="/pals/output?utf8=%E2%9C%93&text=<%= params[:text] %>"><%= t('ling_go_article') %></a>

<style>
  .container.col-11 {
    text-align: center;
    color: white;
    padding: 100px;
  }
</style>