<% if @status %>
  <h2><%= t('edit_message') %></h2>
<% else %>
  <h2><%= t('unedit_message') %></h2>
<% end %>

<style>
  .container.col-11 {
    text-align: center;
    color: white;
    padding: 100px;
  }
</style>